<h1>Create post page</h1>

<form action='/create_post' method='post'>
  <input class="create_post" type='text' name='title' placeholder='Title for this post...'>
  <br>
  <input class="create_post" type='textarea' name='content' placeholder='The Goods'>
  <input type="submit">
</form>


