<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <h4><a href="/create_post">Create new Blog post</a></h4>
  <h4><a href="/sign_in">Sign In</a></h4>
  <h4><a href="/sign_up">Sign Up</a></h4>
</div>
