<h1>User sign in</h1>

<form action='/sign_in' method='post'>
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Email">
  <input type="submit">
</form>


